canvas {
    position: fixed;
    top: 0;
    left: 0;
}

.text-awesome {
    text-shadow: rgb(255, 118, 117) 10px 12px 5px;
    background: -webkit-linear-gradient(90deg, #f938ac, #FBDF02);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

main {
    width: 400px;
    height: 480px;
    position: absolute;
    opacity: 0.9;
    background-color: #222f3e;
    color: aliceblue;
    background-image: url(https://c.tenor.com/_SDVHNWIqOcAAAAC/jupiter-galaxy.gif);
    font-family: SpaceMono Nerd Font;
    border-radius: 10%;
    border: 4px solid #a29bfe;
    animation: ilution 2s infinite;
    text-align: center;
    margin: 10px;
}

h1 {
    text-shadow: 10px 11px 18px rgb(116, 185, 255);
    font-size: 40px;
}

.typed {
    text-shadow: rgb(108, 92, 231) 4px 10px;
}

.galaxy-text {
    font-size: 15px;
    text-shadow: 10px 11px 2px rgb(69, 231, 231);
}

.button-info {
    background-color: #34e7e4;
    width: 120px;
    height: 30px;
    border: transparent;
    border-radius: 10px;
    cursor: pointer;
}

.button-info:active {
    background-color: #ff9f43;
    cursor: pointer;
    transform: scale(0.95);
}

@keyframes ilution {
    from {
        border: 4px solid #ff9f43;
    }
    to {
        border: 4px solid #55efc4;
    }
}

@media (max-width: 600px) {
    main {
        display: block;
        width: 200px;
        height: 500px;
        font-size: 12px;
        text-align: start;
    }
}